Cartopy==0.22.0
geopandas==0.14.2
ipdb==0.13.11
matplotlib==3.6.2
numpy==1.23.5
pandas==1.5.2
regex==2023.12.25
scikit_learn==1.2.0
scipy==1.9.3
seaborn==0.13.2
sentinelsat==1.2.1
Shapely==2.0.5
wandb==0.15.11
xgboost==2.1.0
